@page "/chats"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.SignalR.Client
@using WebChat.Model
@inject NavigationManager Navigation
@inject ChatDataService chatService
@inject UserDataService userService

<PageTitle>Chats</PageTitle>

<div class="chats-container">
    <h5>Your Chats</h5>

    <div class="create-chat-container">
        <div class="button-container">
            <h6>Create a New Chat</h6>
            <button class="btn btn-primary" @onclick="ToggleNewChatBox">
                <span class="icon">&#43;</span> New Chat
            </button>
        </div>

        <div class="new-chat-box" style="@(showNewChatBox ? "display: block;" : "display: none;")">
            <div class="user-input-container">
                <input class="user-input" @bind="newChatName" placeholder="Enter chat name" />

                <select @bind="userInChatId" class="user-dropdown">
                    <option value="">Select User</option>
                    @foreach (var user in userList)
                    {
                        <option value="@user.Id">@user.Name</option>
                    }
                </select>

                <button class="btn btn-primary" @onclick="AddUserToChat">
                    <span class="icon">&#43;</span> Add User
                </button>
            </div>

            <div class="user-list">
                @foreach (var user in usersInNewChat)
                {
                    <div>@user.Name</div>
                }
            </div>

            <button class="btn btn-primary" @onclick="CreateNewChat">
                <span class="icon">&#43;</span> Create Chat
            </button>
        </div>
    </div>

    @foreach (var chat in userChats)
    {
        <div class="chat-card">
            <p>@chat.Name</p>

            <NavLink class="nav-link" href="@($"chat/{@chat.Id}")" Match="NavLinkMatch.All">
                <span class="bi bi-chat-text-left-fill" aria-hidden="true"></span>Go to Chat
            </NavLink>
        </div>
    }
</div>