@page "/chats"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.SignalR.Client
@using WebChat.Model
@inject NavigationManager Navigation
@inject ChatDataService chatService
@inject UserDataService userService

<PageTitle>Chats</PageTitle>

<div class="chats-container">
    <h5>Your Chats</h5>

    <div class="create-chat-container">
        <div class="button-container">
            <h6>Create a New Chat</h6>
            <button class="btn btn-primary" @onclick="ToggleNewChatBox">
                <span class="icon">&#43;</span> New Chat
            </button>
        </div>

        <div class="new-chat-box" style="@(showNewChatBox ? "display: block;" : "display: none;")">
            <div class="user-input-container">
                <input class="user-input" @bind="newChatName" placeholder="Enter chat name" />

                <select @bind="selectedUserForNewChat" class="user-dropdown">
                    <option value="">Select User</option>
                    @foreach (var user in userList)
                    {
                        <option value="@user.Id">@user.Name</option>
                    }
                </select>

                <button class="btn btn-primary" @onclick="() => AddUserToNewChat(selectedUserForNewChat)">
                    <span class="icon">&#43;</span> Add User
                </button>
            </div>

            <div class="user-list">
                @foreach (var user in usersInNewChat)
                {
                    <div>@user.Name</div>
                }
            </div>

            <button class="btn btn-primary" @onclick="CreateNewChat">
                <span class="icon">&#43;</span> Create Chat
            </button>
        </div>
    </div>

    @foreach (var chat in userChats)
    {
        <div class="chat-card">
            <div class="chat-header">
                <p class="chat-name">@chat.Name</p>
                <NavLink class="nav-link" href="@($"chat/{@chat.Id}")" Match="NavLinkMatch.All">
                    <span class="bi bi-chat-text-left-fill" aria-hidden="true"></span> Go to Chat
                </NavLink>
                <button class="btn btn-primary" @onclick="() => ToggleChatSettings(chat.Id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                        <path width='16' height='16' fill='white' d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                    </svg>
                </button>
            </div>

            <!-- Settings section for each chat card -->
            <div class="chat-settings" style="@(showChatSettings && selectedChatIdForSettings == chat.Id ? "display: block;" : "display: none;")">
                <!-- List of old users in a row -->
                <div class="user-list">
                    @foreach (var user in chat.Users)
                    {
                        <div>@user.Name</div>
                    }
                </div>

                <div class="settings-actions">
                    <div class="drop-down">
                        <select @bind="selectedUserId" class="form-control">
                            @foreach (var user in userList)
                            {
                                <option value="@user.Id">@user.Name</option>
                            }
                        </select>
                    </div>

                    <button class="btn btn-primary btn-action" @onclick="() => AddUserToChat(chat.Id, selectedUserId)">
                        <span class="bi bi-person-plus-fill" aria-hidden="true"></span> Add User
                    </button>

                    <button class="btn btn-danger btn-action" @onclick="() => RemoveUserFromChat(chat.Id, selectedUserId)">
                        <span class="bi bi-trash-fill" aria-hidden="true"></span> Remove User
                    </button>

                    <button class="btn btn-danger btn-action" @onclick="() => chatService.DeleteChat(chat.Id, userChats)">
                        <span class="bi bi-trash-fill" aria-hidden="true"></span> Delete Chat
                    </button>
                </div>
            </div>
        </div>
    }
</div>